.top-nav{
    .logo{
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        cursor: pointer;
    }
    .item{
        font-size: 24px;
        color: #eeeeee;
        cursor: pointer;
    }
    .active{
        color: #fff;
    }
}
